.overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)); 
    pointer-events: none; 
  }


.banner {
height: 80vh;
position: relative;
background-image: url('../images/hero1.png');
background-size: cover;
background-position: top;
height: 50vh;
color: white;
}

.banner-content {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -10%);
text-align: center;
}

.banner h1 {
font-size: 4rem;
font-weight: bold;
text-transform: uppercase;
}

.banner p {
font-size: 1.5rem;
margin-top: 1rem;
margin-bottom: 2rem;
font-style: italic;
}

.banner .btn {
padding: 0.75rem 2rem;
font-size: 1.2rem;
font-weight: bold;
background-color: #000;
border: none;
color: #fff;
transition: all 0.3s ease-in-out;
}

.banner .btn:hover {
background-color: #555;
}

@media screen and (max-width:576px) {
  
  
.banner {
  height: 55vh;
  }
  
    .banner h1 {
    font-size: 2.7rem;

    }
    .banner p {
    font-size: 1.2rem;
  }


}

@media screen and (min-width:1200px) {
  
  
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
  }
  .banner {
    height: 70vh;
    }
  }
 


